
@{
    Layout = null;
}






<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>AddFaith</title>
</head>
<body>
    @using (Html.BeginForm("AddFaith", "Faith", FormMethod.Post))
    {
        <label>Название религии: </label>
        <input id="Name" type="text" name="Name" /><br /><br /><br />

        <input type="submit" name="name" value="Добавить" />
       
    }
<div>
    <div>
         <a href="@Url.Action("HomePage","Home")">на главную</a> <a href="@Url.Action("ShowFaith","Faith")">к списку</a>
    </div>
</div>
</body>
</html>


